Checks: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    cert-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    cppcoreguidelines-init-variables,
    cppcoreguidelines-pro-type-member-init,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-non-const-global-variables,
    google-*,
    google-explicit-constructor,
    -google-readability-todo,
    hicpp-*,
    hicpp-explicit-conversions,
    -hicpp-avoid-c-arrays,
    llvm-*,
    llvm-include-order,
    -llvm-header-guard,
    -llvm-prefer-static-over-anonymous-namespace,
    misc-*,
    -misc-include-cleaner,
    -misc-use-anonymous-namespace,
    -misc-use-internal-linkage,
    modernize-*,
    modernize-use-default-member-init,
    -modernize-avoid-c-arrays,
    -modernize-loop-convert,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    performance-*,
    performance-avoid-endl,
    performance-unnecessary-copy-initialization,
    performance-unnecessary-value-param,
    portability-*,
    -portability-avoid-pragma-once,
    readability-*,
    readability-make-member-function-const,
    readability-non-const-parameter,
    readability-simplify-boolean-expr,
    readability-uppercase-literal-suffix,
    -readability-convert-member-functions-to-static,
    -readability-identifier-length,
    -readability-magic-numbers,

    -cert-err33-c,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-special-member-functions,
    -misc-non-private-member-variables-in-classes,
    -hicpp-special-member-functions,
    -misc-non-private-member-variables-in-classes,

InheritParentConfig: true
